{% if year_from == None %}
<div class="panel panel-default facet_limit blacklight-member_of_collection_ids_ssim ">
    <div class="collapsed collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-year">
    <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Année</a>
    </h3>
    </div>
    <div id="facet-year" class="panel-collapse facet-content collapse">
        <div class="panel-body">
            <ul class="facet-values list-unstyled">
                <li>
                    <p><input type="text" id="amount" readonly style="border:0;"></p>
                    <form action="{{url}}" method="GET">
                        <input type="hidden" name="query" value="{{query}}">
                        {% if sortcrit != None %}
                        <input type="hidden" name="sortcrit" value="{{sortcrit}}">
                        {% endif %}
                        {% if paper != None %}
                        <input type="hidden" name="paper" value="{{paper}}">
                        {% endif %}
                        {% if month != None %}
                        <input type="hidden" name="month" value="{{month}}">
                        {% endif %}
                        {% if dow != None %}
                        <input type="hidden" name="dow" value="{{dow}}">
                        {% endif %}
                        {% if edition != None %}
                        <input type="hidden" name="edition" value="{{edition}}">
                        {% endif %}
                        <input type="hidden" id="year_from" name="year_from">
                        <input type="hidden" id="year_to" name="year_to">
                        <div id="slider-range" style="width:80%;display:inline-block;"></div>
                        <span class="ok_btn"><input type="submit" value="OK"></span>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% else %}
<div class="panel panel-default facet_limit blacklight-member_of_collection_ids_ssim facet_limit-active">
    <div class=" collapse-toggle panel-heading" data-toggle="collapse" data-target="#facet-year">
      <h3 class="panel-title facet-field-heading">
        <a data-turbolinks="false" data-no-turbolink="true" href="#">Année</a>
      </h3>
    </div>
    <div id="facet-year" class="panel-collapse facet-content in">
        <div class="panel-body" style="overflow:hidden;">
            <ul class="facet-values list-unstyled">
                <li>
                    <p><input type="text" id="amount" readonly style="border:0;"></p>
                    <form action="{{url}}" method="GET">
                        <input type="hidden" name="query" value="{{query}}">
                        {% if sortcrit != None %}
                        <input type="hidden" name="sortcrit" value="{{sortcrit}}">
                        {% endif %}
                        {% if paper != None %}
                        <input type="hidden" name="paper" value="{{paper}}">
                        {% endif %}
                        {% if month != None %}
                        <input type="hidden" name="month" value="{{month}}">
                        {% endif %}
                        {% if dow != None %}
                        <input type="hidden" name="dow" value="{{dow}}">
                        {% endif %}
                        {% if edition != None %}
                        <input type="hidden" name="edition" value="{{edition}}">
                        {% endif %}
                        <input type="hidden" id="year_from" name="year_from">
                        <input type="hidden" id="year_to" name="year_to">
                        <div id="slider-range" style="width:80%;display:inline-block;"></div>
                        <span class="ok_btn"><input type="submit" value="OK"></span>
                        {% set year_from_param = "&year_from=" + year_from %}
                        {% set year_to_param = "&year_to=" + year_to %}
                        <a class="remove" href="{{url|strip_param(year_from_param)|strip_param(year_to_param)}}">
                            <span class="glyphicon glyphicon-remove" style="float:right;"></span>
                        </a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endif %}